<!-- [(ngModel)]="data" (ngModelChange)="emit($event)" -->
<ngx-dropzone class="dropzone single" [disabled]="readonly" (change)="onSelectApi($event)">
    <ngx-dropzone-label>{{label}}</ngx-dropzone-label>
    <ngx-dropzone-preview class="dropzone preview" *ngFor="let f of data" [removable]="true" (removed)="onRemoveApi(f)">
        <ngx-dropzone-label class="dropzone label">
            <img class="dropzone image" [src]="f.imageUrl"><br>{{ f.imageName }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
</ngx-dropzone>