<!-- BEGIN: Page Main-->

<div class="col s12">
    <div class="container">
        <section class="users-list-wrapper section">
            <div class="users-list-filter">

                <!-- Header -->
                <div class="card-panel" style="margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">

                    <div class="row">
                        <div class="col s5">
                                <i class="material-icons header-icon">
                                    featured_play_list
                                </i>
                            <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px;">
                                รายการข้อมูล
                            </span>
                        </div>
                        <div class="col s7" style="text-align: right;">
                            <cbtn [label]="'เพิ่มข้อมูล'" [color]="'blue'" [icon]="'add_circle_outline'" (click)="create()"></cbtn>
                            <cbtn [label]="'ลบข้อมูล'" [color]="'red'" [icon]="'delete'" (click)="deleteAll()"></cbtn>
                        </div>
                    </div>

                </div>
                <div class="card-panel" style="margin-top: 0px;">

                    <!-- BEGIN: Do Something This Here -->
                  
                    <div class="row">

                        <div class="col s2">
                            <csop (cModel)="setPerPage($event)" [label]="'แสดง'" [data]="paginationModel.itemsPerPageString" [sources]="[{ value: '5', display: '5'},{ value: '10', display: '10'},{ value: '50', display: '50'},{ value: '100', display: '100'}]"></csop>
                        </div>
                        <div class="col s7">
                            
                        </div>
                        <div class="col s3">
                            <citxt (keyup.enter)="search()" (cModel)="searchModel.keySearch = $event" [label]="'ค้นหา'" [data]="searchModel.keySearch"></citxt>
                        </div>

                    </div>    

                    <div style="overflow-x:auto;">
                        <table id="users-list-datatable" class="bordered centered striped">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="header-checkbox">
                                            <label>
                                                <input type="checkbox" [(ngModel)]="itemSelected"
                                                    (change)="checkUncheckAll()" />
                                                <span style="padding-left: 20px;"></span>
                                            </label>
                                        </span>
                                    </th>
                                    <th>ลำดับ</th>
                                    <th>จัดการ</th>
                                    <th>สถานะ</th>
                                    <th>รูปภาพ</th>
                                    <th>ลำดับข้อมูล</th>
                                    <th>หัวข้อ</th>
                                    <th>อัพเดทวันที่</th>
                                    <th>อัพเดทโดย</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of messageInput; let idx = index">
                                    <td>
                                        <div class="w20" [hidden]="!category.deleteAction">
                                            <label>
                                                <input type="checkbox" [(ngModel)]="i.isSelected"
                                                    (change)="isAllSelected()" />
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w30">
                                            {{((paginationModel.currentPage - 1) * paginationModel.itemsPerPage) + (idx + 1)}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w75">
                                            <cbtne [hidden]="!category.updateAction" [label]="'แก้ไขข้อมูล'" (click)="edit(i.code)"></cbtne>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w100" [hidden]="!i.isActive">
                                            <span class="chip green lighten-5">
                                                <span class="green-text">ตรวจสอบแล้ว</span>
                                            </span>
                                        </div>
                                        <div class="w100" [hidden]="i.isActive">
                                            <span class="chip red lighten-5">
                                                <span class="red-text">รอตรวจสอบ</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w75">
                                            <img [src]="i.imageUrl" style="width:75px !important; height:75px !important">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w75">
                                            {{i.sequence}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w200">
                                            <a href="javascript:void(0)"><p class="cut-text">{{i.title}}</p></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w100">
                                            {{i.updateDate | datetimeFormat}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="w100">
                                            {{i.updateBy}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row">

                        <div class="col s6">
                            <ul>
                                <li>{{paginationModel.textPage}}</li>
                            </ul>
                        </div>
                        <div class="col s6">
                            <!-- <----- Pagination -->
                            <div style="text-align: right;">
                                <ul>
                                    <li *ngFor="let item of [] | paginate: paginationModel"></li>
                                </ul>
                                <pagination-controls (pageChange)="paginationModel.currentPage = $event"
                                    previousLabel="ก่อนหน้า" nextLabel="ถัดไป"></pagination-controls>
                            </div>
                        </div>

                    </div>
                    
                    <!-- END: Do Something This Here -->

                </div>
            </div>
        </section>
    </div>
</div>

<!-- END: Page Main-->