<!-- <a href="javascript:void(0)"><i class="material-icons">edit</i>{{label}}</a> -->

<!-- <a class="mb-6 btn waves-effect waves-light blue lighten-3"
    style="margin-bottom: 0px !important; margin-right: 10px !important;">
    <i class="material-icons" style="position: relative; float:left; font-size: 1.5em !important; margin-right: 5px;">
        edit
    </i>
    {{label}}
</a> -->

<a href="javascript:void(0)">
    <i class="material-icons" style="position: relative; float:left; font-size: 1.5em !important;">
        edit
    </i>
    <p>{{label}}</p>
</a>