<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">
    <span>routing-object</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="index.html">Demo</a>
    </li>
    <!-- <li class="breadcrumb-item"><a href="#">Routing</a>
    </li> -->
    <li class="breadcrumb-item active">routing-object
    </li>
</ol>
<br>
<br>
<div class="container">
    <p>routing-object works!</p>
    <p>
        name : {{model.name}}
    </p>
    <p>
        company : {{model.company}}
    </p>
</div>