<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>หมวดหมู่พนักงาน</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">จัดการหมวดหมู่</a>
    </li>
    <li class="breadcrumb-item active">หมวดหมู่พนักงาน
    </li>
</ol>
<br>
<br>
<app-certificate-category-criteria [hidden]="true" (messageToEmit)="getMessageCriteria($event)"></app-certificate-category-criteria>
<app-certificate-category-list [paginationModel]="paginationModel" [messageInput]="listModel" (messageToEmit)="getMessageList($event)"></app-certificate-category-list>
