<!-- <div class="input-field col s12"> -->
    <div class="col s6 m6 l12 text-right" [ngClass]="{'text-right': position == '' , 'text-left': position == 'left'}">
        <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange" 
        [ngClass]="{'gradient-45deg-purple-deep-orange': color == '' , 'amber lighten-1': color == 'yellow', 'green accent-2': color == 'green', 'grey lighten-1': color == 'grey', 'light-blue lighten-1': color == 'blue', 'red lighten-1': color == 'red'}"
        style="width: 100% !important; margin-bottom: 0px !important;">{{label}}</a>
    </div>
<!-- </div> -->

<!-- gradient-45deg-purple-deep-orange -->
<!-- amber lighten-1 -->
<!-- green accent-2 -->
<!-- grey lighten-2 -->