<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>ข่าวประชาสัมพันธ์</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">เมนูหลัก</a>
    </li>
    <li class="breadcrumb-item active">ข่าวประชาสัมพันธ์
    </li>
</ol>
<br>
<br>

<!-- {{paginationModel.totalItems}} -->
<app-news-criteria (messageToEmit)="getMessageCriteria($event)"></app-news-criteria>
<app-news-list [paginationModel]="paginationModel" [criteriaModel]="criteriaModel" [messageInput]="listModel" (messageToEmit)="getMessageList($event)"></app-news-list>

<!-- <----- Pagination -->
<!-- <div style="text-align: right;">
    <ul><li *ngFor="let item of [] | paginate: paginationModel"></li></ul>
    <pagination-controls (pageChange)="paginationModel.currentPage = $event" previousLabel="ก่อนหน้า" nextLabel="ถัดไป" ></pagination-controls>
</div> -->
