<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">
    <span>toast</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="index.html">Demo</a>
    </li>
    <!-- <li class="breadcrumb-item"><a href="#">Routing</a>
    </li> -->
    <li class="breadcrumb-item active">toast
    </li>
</ol>
<br>
<br>
<p>toast works!</p>
<div class="col s6 m6 l6 breadcrumbs-left">
    <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange" (click)="showSuccess()">Show Success</a>
</div>
<div class="col s6 m6 l6 breadcrumbs-left">
    <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange" (click)="showError()">Show Error</a>
</div>
<div class="col s6 m6 l6 breadcrumbs-left">
    <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange" (click)="showInfo()">Show Info</a>
</div>
<div class="col s6 m6 l6 breadcrumbs-left">
    <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange" (click)="showWarning()">Show Warning</a>
</div>

<!-- <div class="col s6 m6 l6 breadcrumbs-left">
    <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange toast-basic">Toast!</a>
</div>
<div class="col s6 m6 l6 breadcrumbs-left">
    <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange toast-callback">Toast Callback!</a>
</div> -->