<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>ป้ายโฆษณาบังคับปิดหน้าหลัก</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">จัดการเมนูรูปภาพ</a>
    </li>
    <li class="breadcrumb-item active">ป้ายโฆษณาบังคับปิดหน้าหลัก
    </li>
</ol>
<br>
<br>
<app-main-popup-criteria [hidden]="true" (messageToEmit)="getMessageCriteria($event)"></app-main-popup-criteria>
<app-main-popup-list [paginationModel]="paginationModel" [messageInput]="listModel" (messageToEmit)="getMessageList($event)"></app-main-popup-list>
