<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>รูปภาพโลโก้</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">เมนูรูปภาพ</a>
    </li>
    <li class="breadcrumb-item active">รูปภาพโลโก้
    </li>
</ol>
<br>
<br>
<app-logo-criteria [hidden]="true" (messageToEmit)="getMessageCriteria($event)"></app-logo-criteria>
<app-logo-list [paginationModel]="paginationModel" [messageInput]="listModel" (messageToEmit)="getMessageList($event)"></app-logo-list>