<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>ป้ายโฆษณา</span></h5>
<ol class="breadcrumbs mb-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">จัดการเมนูรูปภาพ</a>
    </li>
    <li class="breadcrumb-item active">ป้ายโฆษณา
    </li>
</ol>
<br>
<br>
<app-rotation-criteria [hidden]="true" (messageToEmit)="getMessageCriteria($event)"></app-rotation-criteria>
<app-rotation-list [paginationModel]="paginationModel" [messageInput]="listModel" (messageToEmit)="getMessageList($event)"></app-rotation-list>