<div class="col s3" [hidden]="label == ''" style="padding-top: 15px !important; padding-right: 0px !important;">
    <label>{{label}}</label>
</div>
<div class="col s9" [hidden]="label == ''">
    <div class="input-field">
        <input style="height: 20px;" [(ngModel)]="data" (ngModelChange)="emit($event)" [disabled]="readonly" name="data"
            id="data" type="number" class="validate">
        <!-- <label for="data" class="active">{{label}}</label> -->
    </div>
</div>
<div class="col s12" [hidden]="label != ''">
    <div class="input-field">
        <input style="height: 20px;" [(ngModel)]="data" (ngModelChange)="emit($event)" [disabled]="readonly" name="data"
            id="data" type="number" class="validate">
        <!-- <label for="data" class="active">{{label}}</label> -->
    </div>
</div>