<div class="input-field">
    <!-- <div class="row"> -->
        <div class="col s3" >
            <label>{{label}}</label>
        </div>
        <div class="col s8" style="padding-right: 0px !important;">
            <!-- placeholder="{{label}}" -->
            <input style="height: 20px; margin-bottom: 0px !important;" [(ngModel)]="data" (ngModelChange)="emit($event)" matInput [matDatepicker]="picker" [formControl]="dateControl">
        </div>
        <div class="col s1" style="padding: 0 0px !important; margin-top: -10px !important;">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [calendarHeaderComponent]="ccHeader"></mat-datepicker>
        </div>
    <!-- </div> -->
</div>
<!-- <div class="input-field col s6">
    value : {{dateControl.value}} / data : {{data}}
</div> -->
