/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-size: 12px !important; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #00743f; }
span { font-size: 12px !important; }
a { font-size: 12px !important; }
label { font-size: 12px !important; }
input { font-size: 12px !important; color: #9e9e9e !important; }
/* .btn { padding: 0 1rem !important; } */
table.bordered th, table.bordered td {
    padding: 5px !important;
    border: 1px solid rgba(0, 0, 0, .12) !important;
}
td, th {
    display: table-cell;
    padding: 5px 5px;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.mat-calendar-content {
    padding: 0 18px 8px 18px !important;
    outline: none !important;
}
.center {
    text-align: center;
    border: 3px solid green;
    width: 30px;
}
.w10 {
    text-align: center;
    width: 10px;
}
.w20 {
    text-align: center;
    width: 20px;
}
.w30 {
    text-align: center;
    width: 30px;
}
.w75 {
    text-align: center;
    width: 75px;
}
.w100 {
    text-align: center;
    width: 100px;
}
.w150 {
    text-align: center;
    width: 150px;
}
.w200 {
    text-align: center;
    width: 200px;
}
.w250 {
    text-align: center;
    width: 250px;
}
.w300 {
    text-align: center;
    width: 300px;
}
.w350 {
    text-align: center;
    width: 350px;
}
.w400 {
    text-align: center;
    width: 400px;
}
.w450 {
    text-align: center;
    width: 450px;
}
.cut-text {
    white-space: nowrap; width: 200px; overflow: hidden; text-overflow: ellipsis;
}
.header-icon {
    position: relative; float:left; font-size: 2.5em !important;
}

/* DDPM */
.background-sidebar {
    background: #00743f !important;
}
.background-header {
    background: linear-gradient(45deg, #33B1C4, #00743f) !important;
}
.background-footer {
    background: linear-gradient(45deg, #33B1C4, #00743f) !important;
}
.sidenav li a.active {
    margin: 0;
    color: #fff;
    background: linear-gradient(45deg, #00743f, #33B1C4) !important;
    box-shadow: 3px 3px 20px 0 rgba(255, 110, 64, .5);
}

/* DOPA */
/* .background-sidebar {
    background: #04385D !important;
}
.background-header {
    background: #04385D !important;
}
.background-footer {
    background: #04385D !important;
}
.sidenav li a.active {
    margin: 0;
    color: #fff;
    background: #04385D !important;
    box-shadow: 3px 3px 20px 0 #04385D !important;
} */
